p {
  color: #A2F0C9;
}

h1,h2 {
  color: #24BCEE;
}
.liImg {
  width: 10%;
}

#footballIMG {
  border: 2px;
  width: 10%;
}

.thAwesomePeeps {
  background-color: lightblue;
  border-style: solid;
}

.tdAwesomePeeps {
  background-color: lightgray;
}
