body {
  background-color: lightgray;
}

h1 {
  text-align: center;
  font-family: courier new;
  font-size: 35px;
}


.confirmBlue {
  color: purple;
}

.malePurp {
  color: blue;
}

.femaleHP {
  color: #ff3a54;
}

.changeCoORG {
  color: orange;
}

#firstDiv {
  text-align: center;
}

#male {
  font-family: verdana;
}

#confirmedData {
  font-family: cursive;
}
