body {
  background-color: lightgray;
}

h1 {
  text-align: center;
  font-family: courier new;
  font-size: 35px;
}

#firstDiv {
  text-align: center;
}

#male {
  font-family: verdana;
  color: lightblue;
}

.secondDiv {
  text-align: center;
}

#female {
  color: lightpink;
}

#confirmation {
  color: red;
}

#confirmedData {
  font-family: cursive;
}
