body {
  background-color: lightgray;
}

h1 {
  text-align : center;
  font-family: courier new;
  font-size: 35px;
}

input {
  display: block;
  margin: 0px auto;
}

canvas {
  width: 200px;
  border: 1px black solid;
}

#canvasDiv {
  text-align: center;
}
